@import "tailwindcss";

@theme inline {
  --color-page-bg: #0e122a;
  --color-brand-primary: #5056ea;
  --color-brand-primary-hover: #4349d4;
  --color-card-overlay: rgba(14, 18, 42, 0.7);
  --color-divider: rgba(255, 255, 255, 0.12);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-text-primary: #ffffff;
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-on-brand-primary: #ffffff;
  --color-text-on-brand-secondary: #e1e5eb;
  --color-text-inverse: #0e122a;
  --color-footer-block: #bdd6ff;

  --font-sans: "Inter", sans-serif;
  --font-brand: "Inter", sans-serif;

  --radius-sm: 6px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-4xl: 24px;
  --radius-5xl: 32px;
  --radius-full: 999px;
}

body {
  background: var(--color-page-bg);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}
